::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: #03147783;
    border-radius: 10px;
    
}
::-webkit-scrollbar-thumb:hover{
    background-color: #ffa6009a;
}

@media screen and (max-width: 568px) {
    img{
        width: 100%;
    }
}

@media screen and (max-height: 500px) {
    img{
        width: 40%;
    }
    .msg{
        font-size: 50%;
    }
}

.imgDiv{
    margin-left: auto;
    text-align: center;
}

.msg{
    color: #ff7300;
    margin-bottom: 0%;
    margin-right: auto;
    text-align: center;
}