:root{
    --back-color: black;
    --font-color: white;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    display: flex;
    place-content: center;
    color: var(--font-color);
    background-color: var(--back-color);
}

@media (max-width: 767px) {
    .main {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

form{
    text-align: center;
    border: solid blue;
    background-color: black;
    margin-top: 20px;
    padding: 0px 20px 20px 20px;
}

form h1{
    margin: 5px;
    text-decoration: underline rgba(229, 255, 0, 0.692);
}

.main input{
    width: 20em;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    color: blueviolet;
    text-align: center;
    border: solid green;
    border-radius: 15px;
    margin: 0px 0px 10px;
}

.main input:focus{
    text-align: left;
    border-color: white;
}

.msg{
    text-align: left;
}

label.err{
    color: red;
    margin: 25px;
    padding: 15px;
    border: dashed;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.2);
}

label.valide{
    margin: 25px;
    padding: 15px;
    border: dashed;
    color: green;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 255, 0, 0.2);
}

.label-input{
    padding: 1px;
    display: grid;
    justify-content: center;
}

.label-input label{
    text-decoration: underline;
    text-decoration-color: aquamarine;
    margin: 5px;
}