:root{
    --back-color: black;
    --font-color: rgba(0, 255, 179, 0.514);;
}

body{
    margin: 0;
    padding: 20px;
    display: flex;
    font-size: 20px;
    place-content: center;
    color: var(--font-color);
    background-color: var(--back-color);
}

@media (max-width: 767px) {
    .main {
        height: auto;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

form{
    text-align: center;
    border: solid blue;
    background-color: black;
    margin-top: 50px;
    padding: 0px 30px 30px 30px;
}

form h1{
    text-decoration: underline rgba(229, 255, 0, 0.692);
}

input{
    width: 20em;
    height: 20px;
    padding: 5px;
    font-size: 15px;
    color: blueviolet;
    text-align: center;
    border: solid green;
    border-radius: 15px;
    margin: 0px 0px 10px;
}

input:focus{
    text-align: left;
    border-color: white;
}

div.hote{
    padding: 1px;
    display: grid;
    justify-content: center;
}
div.hote label{
    padding-bottom: 5px;
}

div.externe{
    width: auto;
    margin-top: 15px;
    height: 30px;
    display: block;
    position: inherit;
}

div.externe button.inscription{
    float: right;
    border: none;
    padding: 5px;
    font-size: 18px;
    margin-left: 4px;
    margin-top: -3px;
    color: burlywood;
    border-radius: 15px;
    text-decoration: none;
    background-color: brown;
    transition: all 0.5s;
}

div.externe a.connection{
    float: left;
    border: none;
    padding: 5px;
    margin-top: -3px;
    margin-right: 4px;
    color: burlywood;
    border-radius: 17px;
    text-decoration: none;
    background-color: brown;
    transition: all 0.5s;
}

div.externe button.inscription:hover, div.externe a.connection:hover{
    border: solid 2px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.452);
    border-color: aqua;
}

label.msg {
    display: block;
    position: relative;
    margin-top: 5px;
    padding: 10px;
    color: cornflowerblue;
}